services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  
  ingestion:
    build: ./ingestion
    container_name: ingestion
    depends_on:
      - kafka
  
  spark:
    build:
      context: ./processing
      dockerfile: Dockerfile.spark
    container_name: spark
    depends_on:
      - kafka
    volumes:
      - ./processing:/app
      - spark-ivy:/tmp/ivy
    environment:
      - SPARK_USER=root
      - IVY_HOME=/tmp/ivy
      - SPARK_SUBMIT_OPTS=-Divy.cache.dir=/tmp/ivy -Divy.home=/tmp/ivy
    command: >
      /opt/spark/bin/spark-submit
      --master local[*]
      --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.4.2
      /app/streaming_job.py
 
volumes:
  spark-ivy:



